<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <table class="table" th:if="${stocks} and ${stocks.size()}">

        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Dividend</th>
            <th>Remove</th>
        </tr>

        <tr th:each="stock : ${stocks}">
            <td th:text="${stock.symbol}"></td>
            <td th:text="${stock.name}"></td>
            <td th:text="${stock.price}"></td>
            <td th:text="${stock.dividend}"></td>
            <td th:text="${stock.yield}"></td>
            <td>
                <input type="checkbox" name="positionIds" th:value="${position.id}" th:id="${position.id}"/>
            </td>
        </tr>
    </table>

    <input type="submit" value="Remove position" />
</form>

</body>
</html>